* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
}

.navbar {
    width: 100%;
    max-width: 1440px;
    height: 400px;
    background: url("../images/image-hero-desktop.jpg") center no-repeat;
    margin: 0 auto;
    position: relative;
    min-width: 375px;
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    margin: 0 auto;
    max-width: 1440px;
    height: 400px;
    width: 100%;
    background: linear-gradient( rgba(0,0,0,.4),  transparent, rgba(0,0,0,.4));
}

#navbar-logo{
    z-index: 100;
}
.navbar-content {
    display: flex;
    padding: 50px 160px;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu {
    list-style: none;
    display: flex;
    z-index: 1
}

.nav-links {
    display: flex;
    text-decoration: none;
    /* color: #f5f5f5; */
    color: var(--menu-link-color);
    font-size: 14px;
    padding-left: 30px;
    transition: all 0.2s ease-in-out;
}

.nav-links:hover {
    color: #fff;
    transform: scale(1.2);
}

.navbar .navbar-content .toggle-menu {
    cursor: pointer;
    z-index: 100;
    display: none;
}

/* Styling Main Container Starts here*/

/* Card 1 styling here */

.card1 {
    background: #fff;
    border-radius: 10px;
    padding: 50px;
    max-width: 740px;
    width: 100%;
}

.text-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-area p {
    color: var(--p-color);
    margin: 10px 0 40px;
}

.text-area h1 {
    font-weight: 700;
    font-size: 28px;
}

.logo-mastercraft {
    position: absolute;
    margin: -80px;
}

.btn-group .bookmark {
    margin-right: 15px;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    border-radius: 30px;
    color: var(--p-color);
    font-weight: 500;
    padding-right: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-group:hover {
    color: var(--dark-cyane);
}

.btn-group:hover .bookmark circle {
    fill: var(--dark-cyane);
    transition: all 0.3s ease;
}

.btn-group:hover .bookmark path {
    fill: var(--main-background);
    transition: all 0.3s ease;
}

.card1 .btn-area .mobile-bookmark {
    display: none;
}

/* Card 2 styling here */

.text-container {
    display: flex;
    align-items: center;
}

.text-container h1 {
    font-weight: bold;
    font-size: 32px;
}

.text-container p {
    margin-top: 5px;
    color: var(--p-color);
}

.text-container .group {
    margin-right: 40px;
}

.text-container .bars {
    width: 1px;
    height: 60px;
    /* background: var(--p-color); */
    background: gray;
    margin-right: 40px;

}

.text-container .bars2 {
    margin-left: 40px;
}

.line-bars {
    margin-top: 50px;
    width: 100%;
    height: 10px;
    background: lightgray;
    border-radius: 10px;
    position: relative;
}

.line-bars:before {
    content: '';
    top: 0;
    left: 0;
    height: 10px;
    width: 75%;
    background: var(--light-cyane);
    position: absolute;
    border-radius: 10px;
}

/* Card 3 styling here */


.inside-card .title .p-title {
    color: var(--light-cyane);
    font-weight: 700;
}

.inside-card .title .p-title-special {
    color: var(--light-cyane);
    font-weight: 700;
    opacity: 0.7;
}

.card .p-card ,
.inside-card .p-card {
    margin: 50px 0;
    color: var(--p-color);
    line-height: 2;
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inside-card .bottom .left .p-card-left {
    color: var(--p-color);
    margin-left: 10px;
}

.out-of-stock-btn {
    text-decoration: none;
    color: var(--text-button-color);
    background: #cbcbcb;
    padding: 18px 35px;
    font-weight: 500;
    border-radius: 30px;
    transition: all .3s ease;
}

.inside-card .title .card3-special,
.inside-card .bottom .card3-special {
    color: #828282;
    font-weight: 700;
}

@media (max-width: 768px) {
    .navbar {
        background: url("../images/image-hero-mobile.jpg") center no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
    }

    .navbar .navbar-content {
        border: 1px solid red;
    }

    .navbar .navbar-menu {
        display: none;
    }

    .navbar .navbar-menu .nav-links {
        padding: 0;
        width: 100%;
    }

    .navbar .navbar-content {
        padding: 30px;
    }

    .navbar .navbar-content .toggle-menu {
        display: block;
        z-index: 999;
    }

    .text-area {
        text-align: center;
    }

    .text-area p {
        color: var(--p-color);
        margin: 10px 0 30px;
    }
    
    .text-area h1 {
        font-weight: 700;
        font-size: 24px;
    }

    .text-container {
        flex-direction: column;
    }

    .text-container .group {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .text-container .bars {
        height: 2px;
        width: 80px;
        margin: 30px 0;
    }
    
}

@media (max-width: 540px) {
    .navbar {
        height: 300px;
    }

    .navbar::before {
        height: 300px;
    }

    .main-container .card-container .card1 {
        padding: 30px;
    }

    .main-container .card-container .card1 .text-area p {
        font-size: 14.5px;
        line-height: 1.8;
        margin-top: 10px;
    }

    .main-container .card-container .card1 .text-area h1 {
        margin-top: 20px;
    }

    .main-container .card-container .card {
        padding: 30px;
    }

    .main-container .card-container {
        margin-top: -55px;
    }

    .logo-mastercraft {
        margin-top: -60px;
    }

    .main-container .card-container .card .inside-card {
        padding: 30px;
    }

    .main-container .card-container .card .inside-card .title {
        /* border: 1px solid red; */
        display: block;
    }

    .main-container .card-container .card .inside-card .title h2 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .main-container .card-container .card .p-card ,
    .main-container .card-container .card .inside-card .p-card {
        font-size: 15px;
        margin: 20px 0;
    }

    .flex {
        flex-direction: column;
    }

    .main-container .card-container .card1 .btn-area .main-btn {
        font-size: 15px;
        padding: 19px 40px;
    }

    .main-container .card-container .card .inside-card .bottom .left {
        align-self: flex-start;
        margin-bottom: 40px;
    }

    .main-container .card-container .card .inside-card .bottom .main-btn {
        align-self: flex-start;
    }

    .card1 .btn-area .btn-group {
        display: none;
    }

    .card1 .btn-area .mobile-bookmark {
        display: block;
    }

    .card1 .btn-area .mobile-bookmark:hover circle {
        fill: var(--dark-cyane);
        transition: all 0.3s ease;
    }

    .card1 .btn-area .mobile-bookmark:hover path {
        fill: var(--main-background);
        transition: all 0.3s ease;
    }

}